<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humaclab.selliscope">

    <application
        android:name=".SelliscopeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.LoadingActivity"></activity>
        <activity android:name=".performance.daily_activities.RegularPerformanceOutlets" />
        <activity android:name=".performance.daily_activities.RegularPerformanceActivity" /> <!-- android:networkSecurityConfig="@xml/network_security_config" -->
        <activity android:name=".sales_return.SalesReturn_2019_Activity" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.RouteActivity" />
        <activity android:name=".activity.OutletMapActivity" />
        <activity android:name=".activity.OutletActivity" />
        <activity android:name=".activity.AddOutletActivity" />
        <activity android:name=".activity.OutletDetailsActivity" />
        <activity android:name=".activity.PrivacyPolicyActivity" />
        <activity android:name=".activity.ProductActivity" />
        <activity
            android:name=".activity.OrderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Order" />
        <activity
            android:name=".activity.ActivityCart"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".activity.DeliveryListActivity" />
        <activity android:name=".activity.DeliveryDetailsActivity" />
        <activity android:name=".activity.PaymentActivity" />
        <activity android:name=".activity.DueActivity" />
        <activity android:name=".activity.EditOutletActivity" />
        <activity android:name=".activity.CallCardActivity" />
        <activity android:name=".activity.InspectionActivity" />
        <activity android:name=".activity.SalesReturnActivity" />
        <activity android:name=".activity.LocationFromMapActivity" />
        <activity android:name=".activity.SalesReturnDetailsActivity" />
        <activity android:name=".activity.PurchaseHistoryActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.PurchasedProductListActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".performance.leaderboard.LeaderBoardActivity" />
        <activity
            android:name=".activity.activity_salesReturnOld.SalesReturnDetailsActivityOld"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.activity_salesReturnOld.SalesReturnActivityOld" />
        <activity android:name=".activity.SalesReturnHistoryActivity" />
        <activity android:name=".performance.payments.PerformancePaymentsActivity" /> <!-- for ols sellisreturn Model -->
        <activity android:name=".performance.orders.PerformanceOrdersProductsActivity" />
        <activity android:name=".performance.orders.PerformanceOrdersActivity" />
        <activity android:name=".pos_sdk.PosActivity" />
        <activity
            android:name=".pos_sdk.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Select the connected device"
            android:theme="@android:style/Theme.Dialog" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXkKu_nToPi7wW1oyHEnkrG4MpjuJBTxw" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBXkKu_nToPi7wW1oyHEnkrG4MpjuJBTxw" />

        <receiver
            android:name=".service.LocationServiceRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />

        <service android:name=".service.FcmGetNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_selliscope_icon" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".service.SendLocationDataService"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:process=":selliscope_process">
            <intent-filter>
                <action android:name=".Service.SendLocationDataService" />
                <action android:name="android.content.SyncAdapter" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>
        <service
            android:name=".LocationMonitoringService"
            android:enabled="true" /> <!-- ****************Pos Activities************************** -->
        <service
            android:name=".job_sheduler.MyJobScheduler"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.humaclab.selliscope.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>