<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.humaclab.selliscope">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:name=".SelliscopeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- For debug APK -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZ5heET41mdUTW5UOouLZFn56kGsAocbM" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBZ5heET41mdUTW5UOouLZFn56kGsAocbM" />
        <!-- For debug APK -->


        <!-- For signed APK -->
       <!-- <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhsz4pX62D7yu8twGT4ydn-_DRVB3p6_Y" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyAhsz4pX62D7yu8twGT4ydn-_DRVB3p6_Y" />-->
        <!-- For signed APK -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c2bca7824e6a758388318ecf6635fd2e8e11979a" />

        <!-- Services and Receivers -->
        <service android:name=".service.FcmInstanceIdServices">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FcmGetNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.SendLocationDataService"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:process=":selliscope_process">
            <intent-filter>
                <action android:name=".Service.SendLocationDataService" />
                <action android:name="android.content.SyncAdapter" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.InternetConnectivityChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <!-- Services and Receivers -->

        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.RouteActivity" />
        <activity android:name=".activity.OutletActivity" />
        <activity android:name=".activity.AddOutletActivity" />
        <activity android:name=".activity.OutletDetailsActivity" />
        <activity android:name=".activity.PrivacyPolicyActivity" />
        <activity android:name=".activity.ProductActivity" />
        <activity
            android:name=".activity.OrderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Order" />
        <activity
            android:name=".activity.ActivityCart"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".activity.DeliveryListActivity" />
        <activity
            android:name=".activity.DeliveryDetailsActivity"
             />
        <activity android:name=".activity.PaymentActivity" />
        <activity android:name=".activity.DueActivity" />
        <activity android:name=".activity.EditOutletActivity" />
        <activity android:name=".activity.CallCardActivity" />
        <activity android:name=".activity.InspectionActivity" />
        <activity android:name=".activity.SalesReturnActivity" />
        <activity android:name=".activity.LocationFromMapActivity" />
        <activity
            android:name=".activity.SalesReturnDetailsActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.PurchaseHistoryActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.PurchasedProductListActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <service android:name=".LocationMonitoringService"
            android:enabled="true"
            />
    </application>

</manifest>