<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.humaclab.selliscope_kenya">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.humaclab.selliscope_kenya.SelliscopeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--For debug APK-->
        <!--<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZ5heET41mdUTW5UOouLZFn56kGsAocbM"/>
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBZ5heET41mdUTW5UOouLZFn56kGsAocbM"/>-->
        <!--For debug APK-->

        <!--For signed APK-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhsz4pX62D7yu8twGT4ydn-_DRVB3p6_Y"/>
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyAhsz4pX62D7yu8twGT4ydn-_DRVB3p6_Y"/>
        <!--For signed APK-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c2bca7824e6a758388318ecf6635fd2e8e11979a"/>

        <!--Services and Receivers-->
        <!--<receiver
            android:name=".Receiver.StartBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>-->

        <service
            android:name="com.humaclab.selliscope_kenya.Service.FcmInstanceIdServices"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.humaclab.selliscope_kenya.Service.FcmGetLocationService"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.humaclab.selliscope_kenya.Service.SendLocationDataService"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name=".Service.SendLocationDataService"/>
                <action android:name="android.content.SyncAdapter"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>
        <!--Services and Receivers-->

        <activity
            android:name="com.humaclab.selliscope_kenya.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.humaclab.selliscope_kenya.LoginActivity"/>
        <activity
            android:name="com.humaclab.selliscope_kenya.HomeActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.humaclab.selliscope_kenya.RouteActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.OutletActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.AddOutletActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.OutletDetailsActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.PrivacyPolicyActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.ProductActivity"/>
        <activity
            android:name="com.humaclab.selliscope_kenya.OrderActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.humaclab.selliscope_kenya.DeliveryListActivity"/>
        <activity
            android:name="com.humaclab.selliscope_kenya.DeliveryDetailsActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.humaclab.selliscope_kenya.PaymentActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.DueActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.EditOutletActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.CallCardActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.InspectionActivity"/>
        <activity android:name="com.humaclab.selliscope_kenya.SalesReturnActivity"/>
        <activity
            android:name="com.humaclab.selliscope_kenya.SalesReturnDetailsActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>